<nav>
    <ul>
        <li>
            <a ng-class="navctrl.current('Home') ? 'current' : '' " ng-click="navctrl.go('Home')">Home</a>
        </li>
        <li>
            <a ng-class="navctrl.current('Calendar') ? 'current' : '' " ng-click="navctrl.go('Calendar')">Agenda</a>
        </li>
        <li>
            <a ng-class="navctrl.current('About') ? 'current' : '' " ng-click="navctrl.go('About')">About</a>
        </li>
    </ul>
</nav>
<h1>Arno van Doesburg | MT03 Serious Javascript | 0902237</h1>
